<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-title>
      Galaxy Music
    </ion-title>
      </ion-col>
      <ion-col class="title-login" *ngIf="databaseService.sesion === true">
        <ion-title>
          Bievenido... {{ databaseService.sesionUser.nombre }}
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
<div *ngIf="cont === 'promociones'">
<h1>promociones</h1>
</div>

<div *ngIf="cont === 'publicaciones'">
<h1>publicaciones</h1>
</div>

<div *ngIf="cont === 'influencers'">
<h1>influencers</h1>
</div>
</ion-content>