<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-title>
      Galaxy Music
    </ion-title>
      </ion-col>
      <ion-col class="title-login" *ngIf="bdd.sesion === true">
        <ion-title>
          Bievenido... {{ bdd.sesionUser.nombre }}
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div>
    <div class="pr-seccion">
      <div class="container">
        <h2>Explora todo el contenido que Galaxy Music tiene para ofrecer</h2>
        <br>
          <button (click)="explorar(promociones)">Promociones</button>
      <br><br>
          <button (click)="explorar(publicaciones)">Publicaciones</button>
      <br>
      </div>
    </div>
  </div>

  <div class="d-cont">
    <ion-grid class="menu-2">
      <ion-row >
      <h3>Enterate de las novedades de Galaxy Music a travez de nuestas
      redes sociales</h3>
    </ion-row>
    <ion-row>
      <div class="cont-redes">
        <br>
        <button class="youtube"><ion-icon name="logo-youtube" size="large"></ion-icon></button>
        <button class="instagram"><ion-icon name="logo-instagram" size="large"></ion-icon></button>
        <button class="tiktok"><ion-icon name="logo-tiktok" size="large"></ion-icon></button>
      </div>
    </ion-row>
    </ion-grid>
  </div>

  
</ion-content>
