<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--FORM LOGIN-->
<div class="contenido">
  <div class="form-container">
  <form (ngSubmit)="login()">
    <h2>Iniciar Sesión</h2>
    <div>
      <label for="username">Username:</label>
      <br>
      <input class="input-box" type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <br>
      <label for="password">Password:</label>
      <br>
      <input class="input-box" type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <br>
    <button class="btn" type="submit">Login</button>
    <br><br>
    <button class="btn" (click)="register()">Crear cuenta</button>
  </form>
</div>
</div>
</ion-content>
