<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--FORM LOGIN-->
<ion-grid>
<ion-row>
<div class="login-container">
  <form (ngSubmit)="login()">
    <h2>Iniciar Sesión</h2>
    <div>
      <label for="username">Username:</label>
      <br>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <br>
      <label for="password">Password:</label>
      <br>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <ion-button class="boton-login" color="danger" type="submit">Login</ion-button>
  </form>
</div>
</ion-row>
<!--FORM REGISTER-->
<ion-row>
<div class="userform">
  <form (ngSubmit)="onSubmit(userDataForm)" #userDataForm="ngForm">
    <h2>Registro</h2>
    <label for="nombre">Nombre:</label>
    <br>
    <input type="text" id="nombre" name="nombre" ngModel required>
    <br>
    <label for="username">Nombre de usuario:</label>
    <br>
    <input type="text" id="username" name="username" ngModel required>
    <br>
    <label for="password">Contraseña:</label>
    <br>
    <input type="password" id="password" name="password" ngModel required>
    <br>
    <ion-button color="primary" type="submit">Agregar Usuario</ion-button>
  </form>
</div></ion-row>
</ion-grid>