<ion-header [translucent]="true" class="pheader">
  <ion-toolbar class="toolbar">
    <ion-title>
      Galaxy Music
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="f-cont">
    <h1>Descubre el sonido que te apaciona</h1>
</div>

<div class="t-cont">
  <ion-grid>
    <ion-row>
      <ion-col class="t-one">
        <ion-img src="assets/ja.png"></ion-img>
      </ion-col>
      <ion-col class="t-two">
        <h2>
          Sumergete en un mundo de musica<br>
          como nunca antes.<br>
          Encuentra las ultimas novedades y los clasicos<br>
          atemporales en Galaxy Music.<br><br>
          <button (click)="verContenido()">Explorar contenido</button>
        </h2>
        <br>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="s-cont">
  <ion-grid>
    <ion-row>
      <ion-col><ion-icon name="headset-outline" size="large"></ion-icon>
        <h2>
          Calidad de sonido profecional
        </h2>
      </ion-col>
      <ion-col></ion-col>
      <ion-col><ion-icon name="disc-outline" size="large"></ion-icon>
        <h2>Originales, clasicos y coleccionables</h2></ion-col>
      <ion-col><ion-icon name="storefront-outline" size="large"></ion-icon>
        <h2>Todos los instrumentos que necesites los puedes encontrar aqui</h2></ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>




