<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let promo of promociones">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ promo.prod.nombre}}</ion-card-title>
        <img class="imagen" [src]="promo.prod.imagen" alt="{{ promo.prod.imagen }}" />
        <ion-card-subtitle>Precio original: {{promo.prod.precio}}</ion-card-subtitle>
        <ion-card-subtitle>Precio promocion: {{ promo.precioFinal }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{promo.prod.descripcion}} Stock: {{promo.prod.stock}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
