<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vista Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lista usuarios</h2>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>Nombre: {{ usuario.nombre }}</h2>
        <p>Usuario: {{ usuario.username }}</p>
        <p>Contraseña: {{usuario.password}}</p>
      </ion-label>
      <ion-button color="primary" (click)="editarUsuario(usuario.id)">Modificar</ion-button>
      <ion-button color="danger" (click)="eliminarUsuario(usuario.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <h2>Lista productos</h2>
  <ion-list>
    <ion-item *ngFor="let ins of instrumentos">
      <ion-label>
        <h2>Nombre: {{ ins.nombre }}</h2>       
        <p>Descripcion: {{ins.descripcion}}</p>
        <p>Categoria: {{ ins.categoria }}</p>
        <p>Precio: ${{ ins.precio }}</p>
        <p>Stock: {{ ins.stock }}</p>
      </ion-label>
      <ion-button color="success" (click)="promo(ins.id)">Promocion</ion-button>
    </ion-item>
  </ion-list>
  <ion-button (click)="publicaciones()">Crear publicaciones</ion-button>
</ion-content>