ion-title{
    color: rgb(255, 255, 255);
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
ion-toolbar{
    --background: none; 
    background-color: #333141;
}
ion-list{
    padding-left: 20px;
}